{% extends "layout.twig" %}

{% block content %}


 <header>
   <div class="wrapper clearfix">
        <div class="companyheader clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {"business": "FlorentinaVintage"})|raw}}
        </div>
            {{widget('extendednavigation', 'navigationheader', {})|raw}}
    </div>
</header>

<section>
  {{widget('feature', 'featurehome', {"header": "Lorem ipsum dolor sit amet, consectetur adipiscing elit", "strapline":"Ut urna ipsum, pulvinar vitae sagittis in", "buttonText":"MORE INFO","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': true})|raw}}
</section>

<div class="main wrapper clearfix">
  {{zone('main')|raw}}
</div>  

<footer>
    <div class="wrapper clearfix">
        <div class="responsivecolumns columns-two-50-50">
           <div class="column columns-two-left">
                {{widget('content', 'footercolumn1content1', {"content":"<h3>LOREM IPSUM DOLOR</h3>"})|raw}}
                {{widget('profile', 'footercolumn1profileaddress', { 'profileType':'address', 'address':'profile'})|raw}}
           </div>
           <div class="column columns-two-right">
              {{widget('content', 'footercolumn2content1', {"content":"<h3>VIVAMUS TEMPUS</h3>"})|raw}}
              {{widget('profile', 'footercolumn2socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
           </div>
        </div>
    </div>
</footer>


{% endblock %}